
.place__title {
  grid-area: title;
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 72px;
  line-height: 1.2;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 32px;
    /* max-width: 95%  */
    margin-left: 2.5%;
  }
}