
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  width: 95%;
  margin: 28px auto 0;
}

@media screen and (max-width: 767px) {
  .header {
    margin: 16px auto 0;
  }
} 