
.place__paragraph {
  grid-area: paragraph;
  color: #ffffff;
  margin: 24px 0 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
}

.place__paragraph:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    width: 95%;
    margin: 24px auto 0;
  }
}