
.cover {
  background-image: url('../../images/cover__background.jpg');
  background-size: cover;
  
  width: 90%;
  max-height: 740px;
  min-height: 200px;
  height: calc(60vw);

  margin: 92px auto 0;
  
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.cover::before {
  background-color: #2A2C2F;
  opacity: .3;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.cover:hover::before {
  opacity: .8;
}


@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 64px;
  }
}