
.cover {
  max-width: 1184px;
  width: 95%;
  max-height: 740px;
  min-height: 200px;
  height: calc(60vw);
  margin: 92px auto 0;
}

@media screen and (max-width: 1280px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    margin-top: 88px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 64px;
  }
}